body{
    background: #f7f7f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.avatar-img{
    border: 2px solid #505050;
    border-radius: 50%;
    width: 156px;
    height: 170px;
}
    
#main-title, .subtitle, .post-title{
    color: #505050;
}

#main-title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: #505050
}

.post-title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background-color: #fff;
    padding: 10px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 6px;
}

.post-content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post-img{
    margin-bottom: 15px;
    width: 100%;
}

.contact-list{
    list-style-type: none;
    padding-left: 16px;
}

.contact-list li a {
    color: rgb(97, 55, 235);
}